<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce Computer Management - Login</title>
    @RenderSection("head", required: false)
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
