@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li class="drop-header" style="margin: 8px !important">
            <img class="avatar" src="~/Icons/1004136-nagato-pain-wallpaper-1920x1080-ipad.jpg" style="object-fit: cover" />
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "margin-left: 10px;"})

        </li>
        <li class="divider"></li>

        <li class="drop-body">
            <a href="#">About</a>
        </li>
        <li class="drop-body">
            <a href="#">Setting</a>
        </li>
        <li class="divider"></li>
        <li class="drop-footer"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    }
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
